<app-navbar></app-navbar>

<div class="banner flex items-center px-4">
    <div class="chamada w-full md:w-1/2 flex flex-col justify-start items-center md:items-start px-4 py-4 md:ms-20">
        <h1 class="text-8xl text-green-500 mb-4">ListiFy</h1>
        <h2 class="text-md md:text-xl text-white mb-2">Junte-se ao ListiFy e comece a organizar suas coleções hoje mesmo. É rápido e fácil!</h2>
        <h2 class="text-md md:text-xl text-justify text-white">Organize suas coleções de forma prática e rápida. Cadastre seus CDs, DVDs, revistas, livros, vinis e muito mais. Acesse suas coleções de qualquer lugar e saiba exatamente quais itens você possui.</h2>

        <div class="banner-link">
            <p class="text-lg text-yellow-500 mt-4">Experimente Agora!</p>
            <button class="w-full inline-flex items-center bg-yellow-600 border-0 py-2 px-4 focus:outline-none hover:bg-yellow-700 rounded hover:text-white text-gray-200 mb-4 mt-2 md:mt-0" routerLink="/cadastro">Registrar 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ms-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                </svg>           
              </button>   
        </div>
    </div>    
</div>

<div class="transition w-full bg-gray-900"></div>

<div class="w-full md:w-1/2 text-center mx-auto">
    <h2 class="text-md md:text-xl text-white px-4 py-16">Onde a organização das suas coleções ganha um novo significado. Criamos o ListiFy para ajudar colecionadores de todos os tipos a gerenciar suas preciosidades de maneira prática, intuitiva e acessível.</h2>
</div>

<div class="transition-botton w-full bg-gray-900"></div>

<section class="sobre bg-white py-48">
    <article class="mission w-full container flex flex-col md:flex-row justify-center items-center md:items-start">
        <div class="mission-info w-full md:w-1/2">
            <div class="mission-info-title mb-4">
                <h2 class="text-3xl font-bold mb-2 px-3">Nossa Missão</h2>
                <h3 class="text-xl text-green-500 px-3">Cada coleção é única e merece ser tratada com cuidado.</h3>
            </div>
            <div class="mission-info-text">
                <p class="w-full text-xl text-justify px-3 mb-4 md:pr-16">Nossa missão é oferecer uma plataforma que simplifique a organização e o gerenciamento de coleções, permitindo que nossos usuários se concentrem no que realmente importa: aproveitar suas paixões e compartilhar seu amor por suas coleções com o mundo.</p>
            </div>
        </div>
        <div class="mission-img flex justify-center items-center static md:relative mb-8">
            <img src="/assets/IMG/mission-img.jpg" alt="">
        </div>
    </article>

    <article class="fazemos w-full container flex flex-col md:flex-row justify-center items-center md:items-start">
        <div class="fazemos-img flex justify-center items-center static md:relative">
            <img src="/assets/IMG/fazemos-img.jpg" alt="">
        </div>
        <div class="fazemos-info w-full md:w-1/2 mt-8">
            <div class="fazemos-info-title mb-4">
                <h2 class="text-3xl font-bold mb-2 px-3">O Que Fazemos</h2>
                <h3 class="text-xl text-green-500 px-3">O ListiFy é mais do que apenas um lugar para armazenar informações sobre seus itens.</h3>
            </div>
            <div class="fazemos-info-text mb-8">
                <p class="w-full text-xl text-justify px-3">Nós oferecemos uma experiência completa para colecionadores, desde o cadastro de itens até a visualização em galerias, usando filtros de pesquisa que facilitam a localização de qualquer item na sua coleção. Queremos que você tenha total controle sobre o que possui, sempre ao seu alcance.</p>
            </div>
        </div>        
    </article>

    <article class="escolha w-full container flex flex-col md:flex-row justify-center md:items-start">
        <div class="escolha-info w-full text-center px-4">
            <div class="escolha-info-title mb-4">
                <h2 class="text-3xl font-bold mb-2">Por Que Escolher o ListiFy</h2>
                <h3 class="text-xl text-green-500">O ListiFy torna a organização das suas coleções uma tarefa simples e agradável.</h3>
            </div>
            <div class="escolha-info-text">
                <p class="w-full text-xl text-justify ">Nós sabemos o quanto é valioso manter suas coleções organizadas. Seja para evitar compras duplicadas, para saber exatamente o que você possui, ou simplesmente para exibir suas coleções com orgulho, o ListiFy foi desenvolvido para ser sua ferramenta de confiança. Com uma interface amigável e recursos poderosos.</p>
            </div>
        </div>
        <div class="escolha-info w-full text-center px-4">
            <div class="escolha-info-title mb-4">
                <h2 class="text-3xl font-bold mt-4 mb-2">Junte-se a Nós</h2>
                <h3 class="text-xl text-green-500">Faça parte da nossa comunidade de colecionadores.</h3>
            </div>
            <div class="escolha-info-text">
                <p class="w-full text-xl text-justify">Descubra o prazer de ter suas coleções organizadas de forma simples e eficiente. No ListiFy, acreditamos que cada item conta, e estamos aqui para garantir que cada um deles esteja exatamente onde você precisa.</p>
            </div>
            <div class="btn-escolha">
                <button class="w-1/2 inline-flex items-center justify-center bg-yellow-600 border-0 py-2 px-4 focus:outline-none hover:bg-yellow-700 rounded hover:text-white text-gray-200 mb-4 mt-8 " routerLink="/cadastro">Registrar 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ms-2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                    </svg>           
                  </button> 
            </div>
        </div>           
    </article>    
</section>

<app-footer></app-footer>