.logo{
    width: 100px;
    height: auto;
    position: absolute;
    top: 30px;
    left: 30px;
    
}

.BTN-exit{
    color: white;
}

.img-perfil{
    
    height: auto;
    border-radius: 50%;    
}

.hamburger{    
    position: absolute;
    top: 30px;
    right: 30px;
}

.modal-sair{
    display: none;    
}

.modal-sair-full{    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 105;    
}

.modal-sair-containt{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.modal-sair-bg{
    width: 100%;
    height: 100%;
    opacity: 80%;
    position: absolute;
    z-index: 100;
}

